<h2>Write a New Message Here:</h2> 

<form action="/messages" method="POST">
    <textarea id="new_message" name="content" rows="4" cols="50" placeholder="Message Goes Here" maxlength="300"></textarea><br><br> 
<p>Remember that any message you create can be viewed on the messageboard by all other users.</p>
<input type="submit" value="Post New Message">

</form> 