<br><br><div class="boxed">
    <span id="message_username">Message by <%= @message.user.username %></span><br>
    <span id="message_date">&nbsp;&nbsp; Posted on <%= @message.date_posted %></span><br><br>
    <span id="message_content"><%= @message.content %></span>

    <br><br>
</div>

<% if @message.user == current_user %>
<a href="/messages/<%= @message.id %>/edit">Edit or Delete</a> 
<% end %><br><br>
