<h1>Sign Up Below:</h1> 
<h4>Please note: your username and email must not be associated with any other accounts.</h4> 
<form method="POST" action="/signup"> 
    <!-- add in regex matcher here -->
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" required><br><br>

    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>

    <input type="submit" value="Sign Up">
</form> 

<p>Already have an account? <a href="/login">Log In</a></a>