<!DOCTYPE html>
<html>
  <head>
    <title>Pregnancy e-Tracker</title>
    <link href="/index.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <% if flash %>
      <% flash_types.select{ |kind| flash.has?(kind) }.each do |kind| %>
      <div class="flash <%= kind %>">
        <%= flash[kind] %>
      </div>
      <% end %>
    <% end %> 

    <div class="container">
      <h1>Pregnancy Tracker Web App</h1>

      <% if logged_in? %>
        <div class="topnav">
          <a href="/account">Account</a> 
          <a href="/entries">Entries</a> 
          <a href="/messages">Messageboard</a> 
          <a href="/logout">Log Out</a>
        </div><br>
      <% end %>

      <%= yield %> 
    </div>

  </body>
</html>
