<!DOCTYPE html>
<html>
  <head>
    <title>Pregnancy e-Tracker</title>
    <link href="<%= url('/index.css') %> rel="stylesheet" type="text/css" />

    <style>
    h1 {
      font-family: arial, helvetica, sans-serif;
    }

    h2, h3, h4 { 
      font-family: arial, helvetica, sans-serif; 
    }

    li {
      font-family: arial;
    }
    
    a {
      font-family: arial;
      color: blue;
    }
    
    a:hover {
      background-color: beige; 
    }

    a:visited {
      color: blue;
    }
    </style>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to the Pregnancy Tracker!</h1>

      <%= yield %> 
    </div>

  </body>
</html>
