<!DOCTYPE html>
<html>
  <head>
    <title>Pregnancy e-Tracker</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to the Pregnancy Tracker!</h1>

      <%= yield %> 
    </div>

  </body>
</html>
